{% extends 'admin.html' %}
{% block mhb %}

{% raw %}
	<div id="body" ng-controller="MusicResultsController">
		<div id="main_title" class="well" ng-show="isFound" class="ng-hide">
		</div>
    <div id="loading" ng-show="isLooking" class="ng-hide">
        <img ng-src="{{hipsterText}}" alt="get_sound">
    </div> 
		<div id="results">
			<button type="button" ng-click="startRecording(this);" ng-disabled="isRecording">
        <img ng-src="{{recordingImage}}" alt="get_sound">
      </button>
		</div>
	</div>
{% endraw %}

	<script>

    var audio_context;
    var recorder;

    function startUserMedia(stream) {
      var input = audio_context.createMediaStreamSource(stream);
      recorder = new Recorder(input);
    }

    var MusicResultsController = function($scope) {
      $scope.isRecording = false;
      $scope.isFound = false;
      $scope.isLooking = false;
      $scope.recordingImage = "/static/images/microphone_ready.gif";
      $scope.loadBar = "/static/images/load_bar.gif"
      $scope.hipsterText = "/static/images/snarkyText.gif"

      $scope.startRecording = function(button) {
        recorder && recorder.record();
        setTimeout(function(){ 
          $scope.stopRecording(button);
          }, 10000);
        $scope.recordingImage = "/static/images/microphone_recording.gif";
        $scope.isRecording = true;
        $scope.isLooking = false;

      }


      $scope.stopRecording = function(button){
        recorder && recorder.stop();
        $scope.recordingImage = "/static/images/microphone_comparing.gif";
        returnResults();
        $scope.isRecording = false;
        $scope.$apply();
        recorder.clear();
      }


      function returnResults() {
          recorder && recorder.exportWAV(function(blob) {
            var data = new FormData();
            data.append('music_clip', blob);
            $.ajax({
                url: '/music_recognition',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function(data){
                    $scope.tracks = JSON.parse(data)
                    for (i = 0; i < $scope.tracks.length; i++){
                      if ($scope.tracks[i].high_match == true){
                        $("#main_title").html("<p><b><h2>" + $scope.tracks[i].title + "</b> - <i>" + $scope.tracks[i].artist + "</h2></i></p>")
                      };
                    };
                    $scope.isLooking = false;
                    $scope.isFound = true;
                    $scope.recordingImage = "/static/images/microphone_found.gif";
                    $scope.$apply();
                }
            });
        });
      }
    }

    window.onload = function init() {
      try {
        window.AudioContext = window.AudioContext || window.webkitAudioContext;
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
        window.URL = window.URL || window.webkitURL;
        
        audio_context = new AudioContext;
      } catch (e) {
        console.log('No web audio support in this browser!');
      }
      
      navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
        console.log("No live audio input or something.")
      });
    };
    </script>
{% endblock %}