<!DOCTYPE html>

<html ng-app>
<head>
	<link type="text/css" rel="stylesheet" href="/static/css/main.css"/>
	<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
	<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8">
	<title>MyHipsterBoyfriend</title>
</head>
<body>
	{% raw %}
	<div id="body" ng-controller="MusicResultsController">
		<div id="boombox">
			<img src="/static/images/boombox_bw.png">
		</div>
		<div id="main_title">
			<h2><i>{{john.title}}</i></h2>
			<h3>{{john.artist}}<br></h3>
		</div>
		<div id="results">
			    <button type="button" id="input_img" ng-click="startRecording(this);" ng-disabled="isRecording">
    			<img ng-src="{{recordingImage}}"
    			 alt="get_sound">
    			</button>
		</div>
		<img src="/static/images/logo.png">
	</div>
	{% endraw %}
	<script>

	var audio_context;
	var recorder;

	//passes stream input to recorder
	function startUserMedia(stream) {
		var input = audio_context.createMediaStreamSource(stream);
		recorder = new Recorder(input);
	}

	var MusicResultsController = function($scope) {
		$scope.isRecording = false;
		$scope.recordingImage = "/static/images/action_button.png";

		$scope.startRecording = function(button) {
			recorder && recorder.record();
			setTimeout(function(){
				$scope.stopRecording(button);
				}, 10000);
			$scope.recordingImage = "/static/images/listening_2.png";
			$scope.isRecording = true;

		}

		$scope.stopRecording = function(button) {
			recorder && recorder.stop();
			$scope.recordingImage = "/static/images/loading.gif";
			returnResults();
			$scope.isRecording = false;
			$scope.$apply()
			recorder.clear();
		}


		function returnResults() {
			recorder && recorder.exportWAV(function(blob) {
				var data = new FormData();
				data.append('user_audio', blob);
				var xhr = new XMLHttpRequest();
				xhr.open('POST', '/music_recognition', true);
				xhr.send(data);
				xhr.onreadystatechange = function(){
					if (xhr.readyState == 4 && xhr.status == 200){
						$scope.title = 'Results';
						$scope.john = JSON.parse(xhr.responseText);
						$scope.recordingImage = "/static/images/action_button.png";
						$scope.$apply()
						}
				}

			});

		}
	}

	window.onload = function init() {
		try {
			//here is where we figure out if these things can be used in a given browser.
			window.AudioContext = window.AudioContext || window.webkitAudioContext;
			navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
			window.URL = window.URL || window.webkitURL;

			audio_context = new AudioContext;
		}
		catch (e) {
			alert('SON, THIS WILL NOT FLY');
		}
		//finally run .getUserMedia calling constraint audio, successCallback //startUserMedia, errorCallback
		navigator.getUserMedia({audio: true}, startUserMedia, function(e) {console.log('This is not correctly enabled.' + e);
	});

	};
	</script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script src="static/js/vendor/recorder.js"></script>
</body>
</html>
